@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Bennett and His Grade Calculator";

}

<header>
    <!-- This is a bit about me with a photo of my greatest duell. Also my top jobs -->
    <p>Bennett is my preffered name</p>
</header>
<img id="saber" src="img/saber.jpg" />
<p>
    I hope to learn a lot about web app development, get a good grade and prepare myself for
    an internship next summer. I would like to thank my family, friends, as well as the wife and kids I don't have
</p>
<br />

<p>Top 3 Jobs coming up below</p>
<ul>
    <li>Web Developer</li>
    <li>Cyber Security Analyst</li>
    <li>Consultant</li>
</ul>

